<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <!-- REMOTE INDEX REBUILD TRIGGER
               This strategy allows remote indexes to react to a full index rebuild operation that is run from another instance. This strategy requires
               that the EventQueue be enabled.
               This strategy is implemented thru patch 110927 to start index rebuild on indexing:start:remote event.
          -->
          <remoteRebuild type="Sitecore.ContentSearch.Maintenance.Strategies.RemoteRebuildStrategy, Sitecore.ContentSearch"
                         set:type="Sitecore.Support.ContentSearch.Maintenance.Strategies.RemoteRebuildStrategy, Sitecore.Support.110927" />
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
    <events>
      <event name="indexing:start:remote">
        <handler type="Sitecore.Support.ContentSearch.Events.IndexingEventHandler, Sitecore.Support.110927" method="IndexingStartedRemoteHandler" />
      </event>
    </events>
  </sitecore>
</configuration>
